@font-face {
  font-family: 'Eurostile';
  src: local('EurostileExtended-Roman-DTC'),
       url('../fonts/EurostileExtended-Roman-DTC.otf');
}

@font-face {
  font-family: 'Eurostile BQ';
  src: local('Eurostile BQ'),
       url('../fonts/EurostileBQ-BoldExtended.otf');
  font-weight: lighter;
}

html
{
  background-color: black;
}

body
{
  background-color: #000;
  color: #fff;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

.heading {
  font-family: 'Eurostile BQ', sans-serif;
}

h1#host-name, h2#gametype-mapname
{
  margin: 0 auto;
}

h1#host-name
{
  font-size: 2em;
}

h2#gametype-mapname
{
  font-size: 1.4em;
}

table
{
  font-size: 1.05em;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  font-family: 'Eurostile';
}

.table-display-row
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table-display-row div
{
  width: 49.7%;
}

.table-title
{
  box-sizing: border-box;
  font-size: 1.4em;
  color: #000;
  padding: 5px 0 5px 10px;
  margin: 10px auto 3px;
  height: 50px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: black;
  /* width: 98.7%; */
}

#team0 h3
{
  /* background-color: #f44; */
  background-color: #888;
  background-image: linear-gradient(transparent 40%, rgba(255, 68, 68, 0.75));

}

#team1 h3
{
  /* background-color: #3fbeff; */
  background-color: #888;
  background-image: linear-gradient(transparent 40%, rgba(63, 190, 255, 0.75));
}

h3.free
{
  /* background-color: #0f0 !important; */
  background-color: #888;
  background-image: linear-gradient(transparent 40%, #0f0) !important;
}

#team0 table th
{
  color: #f44;
}

#team1 table th
{
  color: #3fbeff;
}

th.free
{
  color: #0f0 !important;
}

#best-players h3, #games-won h3
{
  /* background-color: #fff; */
  background-color: #888;
  background-image: linear-gradient(transparent 40%, white);
}

table td
{
  background-color: #111;
}

table tr:nth-child(odd) td
{
  background-color: #222;
}

table td, table th
{
  border: 1px solid black;
  padding: 3px 10px 3px 10px;
  height: 24px;
}

table th
{
  background-color: #444;
  min-width: 100px;
  border-bottom: 2px solid black;
}

#team-tables table th.player-name-heading
{
  width: 250px;
}

.stat-table td
{
  height: 100px;
  text-align: center;
}

#best-players h4:first-child
{
  font-size: 1.6em;
  margin: 12px auto;
}

#best-players h4:last-child
{
  font-size: 1.3em;
  margin: 10px auto;
}

#games-won td
{
  font-size: 2.9em;
}

#divMsg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#divMsg div {
  display: block;
  font-size: 2em;
  width: 40%;
  text-align: center;
  height: 80px;
  line-height: 80px;
  background-color: #333;
  border-radius: 15px;
}
